.review-containter{
  color:  black;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); 

}

.full-review{


  background-image: url("https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fGZvb2RpZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  border-radius: 10px;
  
  


}

@media only screen and (max-width: 600px){ 
  .review-containter{ 
    grid-template-columns: repeat(2, 1fr);
    grid-gap:8px; 
    margin-left: 40px;
    margin-right: 40px;
    font-size: 5px;
    
    
  }}